##################################
# Python / Virtual Environments
##################################
venv/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

##################################
# Jupyter
##################################
.ipynb_checkpoints/

##################################
# Environment variables
##################################
.env

##################################
# Data (DO NOT COMMIT)
##################################
data/raw/
data/images/
data/embeddings/

##################################
# Models & artifacts
##################################
models/
*.pkl
*.joblib
*.pt
*.pth
*.onnx

##################################
# Generated outputs
##################################
*.npy


##################################
# OS / Editors
##################################
.DS_Store
Thumbs.db
.vscode/
.idea/
